@import url("menu.css");
body
{
	background-image:url('test.jpg');
	background-repeat:no-repeat;
	background-size:1024 768;
	background-color:#BDCDCA;
}
#header{
	text-align:center;
	font-size:3em;
	width:100%;
	height:150px;
}
#header img{
	float:left;
	height:150px;
	margin-left:40px;
}
#content{
	margin-left:250px;
}
#footer{
	width:100%;
	visibility:hidden;
	text-align:center;
}
#user{
	float:right;
	margin-top:65px;
	font-size:15px;
}
table{
	width:100%;
}
td{
	text-align:left;
}
tr{
	height:60px;
}

