#menu ul{
	float:left;
	width: 200px;
}

#menu ul li{
	display:block;
	border-style:double;
	border-color:#c0c0c0;
	background-color:#BEF7F5;
}

#menu ul li a{ 
	text-decoration: none;
	
}

#menu ul li a:visited{

}

#menu ul li:hover, #menu ul li .current{
	background-color:#0b75b2; 
}
