#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


#menu ul li{
	display:block;
	border-style:double;
	border-color:#c0c0c0;
	background-color:#BEF7F5;
}

#menu ul li a.active {
    background-color: #4CAF50;
    color: white;
}


#menu ul li a:visited{

}

#menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}




